<div class="header py-4">
  <div class="container-fluid nav-padding">
    <div class="d-flex">
      <a class="header-brand" href="/">
        <nav>
            <img src="/content/angular/assets/images/logo.png" class="h-6" alt=""> <a class="image-pad-left" href="#">InstaScheduler <span>Beta</span></a>      
        </nav>
      </a>
      <div class="d-flex order-lg-2 ml-auto">
        
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(/content/angular/assets/images/nav_icon.png)"></span>
            
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" routerLink="/login" routerLinkActive="active" >
                <i class="dropdown-icon fe fe-log-out"></i> Login
              </a>
            
            <a class="dropdown-item" href="">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a>     
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>