.header{
    background:none !important;
    border-bottom: none !important;
}

body{
    background-color: white !important;
}
nav {
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #495057;
    font-size: 18px;
    font-weight: 700;
}

nav a:first-child {
    float: left;
}

.image-pad-left{
    padding-left: 5%;
}
.avatar{
    background-color: #2B9DFF !important;
}

nav a img{
    vertical-align: middle;
}

nav a span{
    background-color: #E53167;
    padding: 5px 15px;
    border-radius: 1000px;
    font-weight: 100;
    color: white;
    margin-left: 7;
}

.nav-left-padding{
    padding: 1% 20% 3% 0;
}

.nav-right-padding{
    padding: 1% 5% 3% 0;
}

.heading-left{
    /*background-image: url("/content/angular/assets/images/bgheader.svg");
    position: absolute;
    z-index: -1;*/
    
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.svg-container{
    max-width:200px;
    max-height: 200px;
    display: inline-block;
}

.override-padding{
    padding-left: 0 !important;
}