
<div class="">
  <div class="container-fluid override-padding ">
      
    <div class="d-flex">
      
      <div class="svg-container">
      <img class="heading-left" src="/content/angular/assets/images/bgheader2.svg"  alt=""> 
      </div>
      <a class="header-brand nav-left-padding" href="/">
        <nav>
            <!--<span class="heading-left"></span>-->
            <img src="/content/angular/assets/images/logo.png" class="h-6" alt=""> <a class="image-pad-left" href="#">InstagramPost <span>Beta</span></a>      
        </nav>
      </a>
      
      <div class="d-flex order-lg-2 ml-auto nav-right-padding">
        
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(/content/angular/assets/images/nav-icon.svg)"></span>
            
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" routerLink="/login" routerLinkActive="active" >
                <i class="dropdown-icon fe fe-log-out"></i> Login
              </a>
            
            <a class="dropdown-item" href="">
              <i class="dropdown-icon fe fe-help-circle"></i> Need help?
            </a>     
          </div>
        </div>
      </div>
     
    </div>
  </div>
</div>