<div class="page">
  <div class="flex-fill">
    <!--Navigation bar -->
    <app-dashboard-navbar></app-dashboard-navbar>
    <!--Nav Options Area-->
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
              <li class="nav-item">
                <a href="javascript:void();" routerLink="/dashboard" class="nav-link"><i class="fe fe-home"></i>Home</a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#create-post-modal"><i
                    class="fe fe-box"></i> Post History</a>
              </li>
            </ul>
          </div>



        </div>
      </div>
    </div>


    <!--Modal Area-->

    <!--Create Instagram Post Modal-->
    <div class="modal fade" id="create-post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="col-12 modal-title modal-title-settings" id="exampleModalLongTitle"> Create an Instagram Post
              <button id="joinmodal-close" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </h5>
          </div>
          <div class="modal-body">
            <form action="javascript:void(0);" action="post">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <form action="javascript:void(0)" class="dropzone dropzone-properties" id="postimage">
                        <div class="fallback">
                          <input name="file" type="file" multiple />
                        </div>
                      </form>
                    </div>

                  
                  </div>


                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                      <textarea attr.maxlength="{{MAX_DESCRIPTION_LIMIT}}" id="post-description"
                      (input)="onUpdateCreateGroup($event)" (keyup)="onUpdateCreateGroup($event)"
                      class="form-control" name="group-description" style="resize: none;" rows="6"
                      placeholder="What would you like to share?"></textarea>
                      
                      <div id="error-joingroup-code" class="invalid-feedback">{{error_create_group_code}}</div>
                      <div id="error-joingroup-server" class="invalid-feedback">{{error_join_group_server}}</div>
                    </div>

                  </div>
                </div>

              
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <div class="{{css_loading_createpost}}">
              <div class="loader"></div>
              <div class="dimmer-content">
                <button type="button" class="btn btn-primary" (click)="onSubmit($event)" id="btn-postimage">Submit Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End Instagram Post Modal-->
    <!-- End Modal Area -->

    <div class="my-3 my-mid-5">
      <div class="container">
        <div class="row">

          <div class="col-lg-4">
            <div class="card card-profile card-expand-profile">
              <div class="card-header"
                style="background-image: url(demo/photos/eberhard-grossgasteiger-311213-500.jpg);"></div>
              <div class="card-body text-center">
                <img class="card-profile-img" src="demo/faces/male/16.jpg">
                <h3 class="mb-3">Peter Richards</h3>
                <p class="mb-4">
                  Big belly rude boy, million dollar hustler. Unemployed.
                </p>
                <button class="btn btn-success" data-toggle="modal" data-target="#create-post-modal">Create Instagram
                  Post!</button>
              </div>

            </div>
          </div>

          <div class="col-lg-8">
            <div class="page-header">
              <h1 class="page-title">
                My Instagram Posts
              </h1>
              <div class="page-subtitle">1 - 12 of 1713 photos</div>
              <div class="page-options d-flex">
                <select class="form-control custom-select w-auto">
                  <option value="asc">Newest</option>
                  <option value="desc">Oldest</option>
                </select>
                <div class="input-icon ml-2">
                  <span class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </span>
                  <input type="text" class="form-control w-10" placeholder="Search photo">
                </div>
              </div>
            </div>


            <div class="alert alert-primary">
              First time here? It's simple! Get started and create a new post by clicking on the <b>"Create Instagram
                Post"</b> button!
            </div>


            <div class="row row-cards">
              <div class="col-sm-6 ">
                <div class="card p-3">
                  <a href="javascript:void(0)" class="mb-3">
                    <img src="./demo/photos/grant-ritchie-338179-500.jpg" alt="Photo by Nathan Guerrero"
                      class="rounded">
                  </a>
                  <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url(demo/faces/male/41.jpg)"></div>
                    <div>
                      <div>Nathan Guerrero</div>
                      <small class="d-block text-muted">12 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                      <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 112</a>
                      <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                          class="fe fe-heart mr-1"></i> 42</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card p-3">
                  <a href="javascript:void(0)" class="mb-3">
                    <img src="./demo/photos/grant-ritchie-338179-500.jpg" alt="Photo by Nathan Guerrero"
                      class="rounded">
                  </a>
                  <div class="d-flex align-items-center px-2">
                    <div class="avatar avatar-md mr-3" style="background-image: url(demo/faces/male/41.jpg)"></div>
                    <div>
                      <div>Nathan Guerrero</div>
                      <small class="d-block text-muted">12 days ago</small>
                    </div>
                    <div class="ml-auto text-muted">
                      <a href="javascript:void(0)" class="icon"><i class="fe fe-eye mr-1"></i> 112</a>
                      <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i
                          class="fe fe-heart mr-1"></i> 42</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>




        <div class="row">

          <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                  <thead>
                    <tr>
                      <th class="text-center w-1"><i class="icon-people"></i></th>
                      <th>User</th>
                      <th>Usage</th>
                      <th class="text-center">Payment</th>
                      <th>Activity</th>
                      <th class="text-center">Satisfaction</th>
                      <th class="text-center"><i class="icon-settings"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/26.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Elizabeth Martin</div>
                        <div class="small text-muted">
                          Registered: Mar 19, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>42%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-yellow" role="progressbar" style="width: 42%" aria-valuenow="42"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-visa"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>4 minutes ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.42" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">42%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/17.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Michelle Schultz</div>
                        <div class="small text-muted">
                          Registered: Mar 2, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>0%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-red" role="progressbar" style="width: 0%" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-googlewallet"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>5 minutes ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.0" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">0%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/21.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Crystal Austin</div>
                        <div class="small text-muted">
                          Registered: Apr 7, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>96%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-green" role="progressbar" style="width: 96%" aria-valuenow="96"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-mastercard"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>a minute ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.96" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">96%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/male/32.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Douglas Ray</div>
                        <div class="small text-muted">
                          Registered: Jan 15, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>6%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-red" role="progressbar" style="width: 6%" aria-valuenow="6"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-shopify"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>a minute ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.06" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">6%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/12.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Teresa Reyes</div>
                        <div class="small text-muted">
                          Registered: Mar 4, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>36%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-red" role="progressbar" style="width: 36%" aria-valuenow="36"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-ebay"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>2 minutes ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.36" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">36%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/4.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Emma Wade</div>
                        <div class="small text-muted">
                          Registered: Mar 20, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>7%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-red" role="progressbar" style="width: 7%" aria-valuenow="7"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-paypal"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>a minute ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.07" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">7%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/female/27.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Carol Henderson</div>
                        <div class="small text-muted">
                          Registered: Feb 22, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>80%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-visa"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>9 minutes ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.8" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">80%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center">
                        <div class="avatar d-block" style="background-image: url(demo/faces/male/20.jpg)">
                          <span class="avatar-status bg-green"></span>
                        </div>
                      </td>
                      <td>
                        <div>Christopher Harvey</div>
                        <div class="small text-muted">
                          Registered: Jan 22, 2018
                        </div>
                      </td>
                      <td>
                        <div class="clearfix">
                          <div class="float-left">
                            <strong>83%</strong>
                          </div>
                          <div class="float-right">
                            <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                          </div>
                        </div>
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-green" role="progressbar" style="width: 83%" aria-valuenow="83"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <i class="payment payment-googlewallet"></i>
                      </td>
                      <td>
                        <div class="small text-muted">Last login</div>
                        <div>8 minutes ago</div>
                      </td>
                      <td class="text-center">
                        <div class="mx-auto chart-circle chart-circle-xs" data-value="0.83" data-thickness="3"
                          data-color="blue">
                          <div class="chart-circle-value">83%</div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="item-action dropdown">
                          <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i
                              class="fe fe-more-vertical"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i>
                              Action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                            <a href="javascript:void(0)" class="dropdown-item"><i
                                class="dropdown-icon fe fe-message-square"></i> Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i>
                              Separated link</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>