.card-expand-profile{
    min-height: 500px;
}

.modal-title-settings{
    text-align: center; 
}

.dropzone-properties{
    border-style:dashed;
    text-align:center;
    border-color: #467fcf;
}

.dz-progress{
    display:none;
}

.card-header{
    height: 10.5rem;
}
