
nav a span{
    background-color: rgba(248, 4, 37, 0.87);
    padding: 5px 15px;
    border-radius: 1000px;
    font-weight: 100;
    color: white;
    margin-left: 7;
}

nav {
    text-align: right;
}

.image-pad-left{
    padding-left: 5%;
}

nav a {
    text-decoration: none;
    color: #495057;
    font-size: 1.05rem;
    font-weight: 700;
}

nav a:first-child {
float:left;
}